<div
  *ngIf="filteredCountries$ | async as countries"
  class="country-search__container"
>
  <mat-form-field class="country-search__input">
    <mat-label>Coutry search</mat-label>
    <input
      type="text"
      matInput
      placeholder="Country"
      [formControl]="countryControl"
    />
  </mat-form-field>
  <mat-list role="list" class="country-search__country-list country-list">
    <mat-list-item *ngFor="let country of countries" role="listitem">
      <a
        class="country-list__link"
        [routerLink]="['/country', country.countryCode]"
      >
        {{ country.name }}
      </a>
    </mat-list-item>
  </mat-list>
</div>
